<div class="publications">
    <h2>education</h2>
        <ol class="bibliography"><li>
        <!-- _layouts/bib.html -->
        <div class="row">
            <div class="col-sm-2 abbr"><abbr class="badge">2021 - Now </abbr></div>

            <div id="xu2019fine" class="col-sm-8">
                
                <!-- Title -->
                <div class="title">Vrije Universiteit Amsterdam & Universiteit van Amsterdam</div>
                <!-- Author -->
                <div class="author">Master of Science in Computer Science - Big Data Engineering</div>
            </div>
        </div>
        </li></ol>

        <ol class="bibliography"><li>
        <!-- _layouts/bib.html -->
        <div class="row">
            <div class="col-sm-2 abbr"><abbr class="badge">2020 - 2021</abbr></div>

            <div id="xu2019fine" class="col-sm-8">
                
                <!-- Title -->
                <div class="title">Institut Polytechnique de Paris</div>
                <!-- Author -->
                <div class="author">M1 - Data and Artificial Intelligence</div>
            </div>
        </div>
        </li></ol>

        <ol class="bibliography"><li>
            <!-- _layouts/bib.html -->
            <div class="row">
                <div class="col-sm-2 abbr"><abbr class="badge">2015 - 2019</abbr></div>

                <div id="xu2019fine" class="col-sm-8">
                    
                    <!-- Title -->
                    <div class="title">Henan University</div>
                    <!-- Author -->
                    <div class="author">Bachelor of Engineering in Computer Science</div>
                </div>
            </div>
            </li></ol>
  </div>