---
layout: default
---
<!-- _layouts/cv.html -->
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }} {% if page.cv_pdf %}<a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf"></i></a>{% endif %}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>
            <div class="cv">
              <!-- {% for entry in site.data.cv %}
                <div class="card mt-3 p-3">
                  <h3 class="card-title font-weight-medium">{{ entry.title }}</h3>
                </div>
              {% endfor %} -->
              [Link for Download](https://ym-xu.github.io/assets/pdf/CV_YMXU.pdf)
<object data="https://YimingXu1.github.io/files/CV_YMXU.pdf" style="width: 100%; max-width: 800px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" type="application/pdf" height="700">
<embed src="https://YimingXu1.github.io/assets/pdf/CV_YMXU.pdf">
<p>This browser does not support PDFs. Please download the PDF to view it: <a href="https://YimingXu1.github.io/assets/pdf/CV_YMXU.pdf">Download PDF</a>.</p>
</embed>
</object>
              </div>
          </article>

        </div>
